/* commons  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
#header-top{
    height: 50px;
    background-color: black;
}
 #navbarNavDropdown{
     justify-content: space-between;
 }
.jumbo{
    height: 500px;
}
/* MY-classes  */

.ms_h100{
    height: 100%;
}

.footer{
    height: 300px;
}

/* #### DEBUG AREA #####  */

.debug .jumbo{
    background-color: yellow;
}

.debug footer{
    background-color: blue;
}

.green{
    background-color: green;
}

.box{
  
    height: 150px;
    background-color: red;
    border: 1px solid black;
}

