/* commons  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ---header--- */

#header-top{
    background-color: black;
    height: 30px;
}

.globe{
    width: 20px;
  
}
#header-top img{
    width:120px;
    height:10px;
    position:absolute;
    right:0;
    z-index: 2;
}

/* ---nav-bar---  */
#navbarNavDropdown{
     justify-content: space-between;
 }

.navbar i{
  color: black;
  font-size: 1.3rem;
  padding: 8px;
  margin-left: 25px;
  margin-right: 10px;
  
}
/* SEARCH FUNCTION */

#search-icon {
  font-size: 1.5rem;
  
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: 10px;
  right: 68px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
  width:250px;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* FOR SAFARI */
  outline: 0;
  padding: 8px;
}
/* ---mega area--- */
.menu-area{
  position:static;

}

.mega-area{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;

}

.dropdown-item{
  padding:4px 0;
}

.mega-area ul li{
  list-style: none;
}

.mega-area ul li:not(.not-for){
  margin: 0 25px;
  display: inline-block;
}

.bottom-list li::before{
  content: "\2022";
  color: blue;
  font-size: 2rem;
  margin-right: 10px;
}

.mega-area ul li img{
  width: 100px;
}


.bottom-list li a{
 text-decoration: none;
 color: black;
 font-size: 1.7rem;

}

.m-neg{
  margin-top: -3px !important;
}

/* ---fine mega menu---  */

/* ---fine nav---  */

/* ---jumbo section----  */

#jumbo-1{
    height: 550px;
    background-image:url(../img/jumbo-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:80px ;
}
#banner{
    height: 500px;
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

/* ----fine jumbo seciton-----  */

/* ----fine jumbo----  */

/* MY-classes  */

.ms_h100{
    height: 100%;}
.ms_50px{
    height: 50px;
}
.ms_bg-orange{
    background: #CD3C0E;
}

.ms_rounded{
    border-radius: 20px;
}
.ms_c-blue{
    color:#0B78D0 ;
}

.ms_bg-night-blue{
    background-color: #00439C;
}

.ms_bg-dark-blue{
    background-color: #161C3B;
}

.ms_bg-light-gray{
 background-color: #BEBCBB;
}

.mn_p-fixed{
    position: fixed;
    right: 0;
    left: 0;
    top:0px;
    z-index: 2;
}

.neg-m{
  margin-top-3px;
}

/* ----fine my classes-----  */

/* ---carousel---- */

.carousel-inner img {
    width: 80%;
    height: 80%;
    padding:0px 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:#00439C;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:#00439C ;
}


#thumbnail{
    position:relative;
}

 #thumbnail .col:hover::before{
    position:absolute;
    content: '';
    height:3px;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #0B78D0;
 }
/* ---carousel---- */
/* ----hover section---- */

.hover-btn:hover{
    outline: 2px solid #CD3C0E;
    /* transform:translateY(-8px); */
    transition:0.3s;
    outline-offset: 5px;
}

.hover-btn-blue:hover{
    outline: 2px solid #0B78D0;
    /* transform:translateY(-8px); */
    transition:0.3s;
    outline-offset: 5px;
}

.btn-black{
    outline: 2px solid #1C1F23;
    /* transform:translateY(-8px); */
    transition:0.3s;
    outline-offset: 5px;
    font-weight: 600;
}

.tm{
    font-size: 8px;
    position:relative;
    bottom: 8px;
}

section .hover:hover img{
    outline: 3px solid #0B78D0;
    transform:translateY(-8px);
    transition:0.3s;
    outline-offset: 5px;
}
/* ----fine hover section -----  */

/* ----footer styling----  */

footer a{
    color: white;
}

footer ul{
    padding: 0;
}

/* ----fine footer styling----  */

/* ---SCROLL BAR--- */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #00439c #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00439c;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
/* ----FINE SCROLL BAR--- */




/* #### DEBUG AREA #####  */

/* .debug .jumbo{
    background-color: yellow;
} */

/* .debug footer{
    background-color: blue;
} */

/* .green{
    background-color: green;
} */

/* .box{
  
    height: 150px;
    background-color: red;
    border: 1px solid black;
} */


