/* commons  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ---header--- */

#header-top{
    background-color: black;
    height: 30px;
}

.globe{
    width: 40px;
    height: 40px;
}
/* #header-top img{
    width:120px;
    height:10px;
    text-align: right;
} */

/* ---nav-bar---  */
#navbarNavDropdown{
     justify-content: space-between;
 }

.navbar i{
  color: black;
  font-size: 1.3rem;
  padding: 8px;
  margin-left: 25px;
  margin-right: 10px;
  
}
/* ---fine nav---  */

/* ---jumbo section----  */

#jumbo-1{
    height: 550px;
    background-image:url(../img/jumbo-bg.png);
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
#banner{
    height: 500px;
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   


/* ----fine jumbo----  */

/* MY-classes  */

.ms_h100{
    height: 100%;}

.ms_bg-orange{
    background: #CD3C0E;
}

.ms_rounded{
    border-radius: 20px;
}
.ms_c-blue{
    color:#0B78D0 ;
}

.ms_bg-night-blue{
    background-color: #00439C;
}

.ms_bg-dark-blue{
    background-color: #161C3B;
}

.ms_bg-light-gray{
 background-color: #BEBCBB;
}



/* #### DEBUG AREA #####  */

/* .debug .jumbo{
    background-color: yellow;
} */

/* .debug footer{
    background-color: blue;
} */

/* .green{
    background-color: green;
} */

/* .box{
  
    height: 150px;
    background-color: red;
    border: 1px solid black;
} */

